a {
	color: #333;
	text-decoration:none; 
}

h1 a {
	background: #ddd;
}

h1, h2, h3 {
	font-family: "Trebuchet MS", Helvetica, Arial;
}

h3 .hoverattribute-attr {
	font-family: Monospace;
	font-size:18px;
}

.hoverattribute-title {
	
}

.hoverattribute-attr {
	color: #999;
	font-weight: normal;
	letter-spacing: -1.5px;
}

.hoverattribute-highlight {
	color: #333;
}